.container {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(175, 238, 238);
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.header {
    padding-bottom: 100px;
}

.imageContainer {
    margin-top: 100px;
    position: absolute;
    max-width: 2733px;
    overflow: hidden;
}

.image {
    display: block;
    -webkit-user-select: none;
    margin: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 958px;
    height: 719px;
    aspect-ratio: auto 958 / 719;
}


/* .transparentArea {
    border-top: 100px;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.3);
    cursor: pointer;
    z-index: 10;
} */

.circle {
    position: absolute;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 2px solid transparent;
    background-color: rgba(255, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    pointer-events: auto;
    cursor: pointer;
}

.circle:hover {
    background-color: rgba(255, 0, 0, 0.75);
    /* Более насыщенный красный цвет при наведении */
}