.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden auto;
    position: relative;
    background:  var(--background-color);
}

.imageContainer {
    position: relative;
    margin-top: 100px;
}

.svg {
    width: 1600px;
    height: 800px;
}

.image {
    -webkit-user-select: none;
    margin: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.circleContainer {
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.circle {
    position: absolute;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    pointer-events: all;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0);
    font-weight: bold;
}

.circleContainer:hover .circle {
    background-color: blue;
}

.circle:hover {
    background-color: #000;
}

.circleText {
    text-align: center;
}

.menu {
    width: 90%;
    max-width: 800px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: var(--outher-elements);
    margin: 10%;
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.icon {
    width: 10%;
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.menuHeader .title {
    color: #000000;
    flex-grow: 1;
}

.menuHeader .arrow {
    color: #000000;
    margin-left: auto;
}

.menuContent {
    background-color: var(--outher-elements);
}

@media (min-width: 1200px) {
    .menu {
        display: none;
    }
}
@media (max-width: 1200px) {
    .imageContainer {
        display: none;
    }
}