.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(98, 149, 161);
    border-bottom: 2px solid #2c2c2c;
    padding: 20px 50px;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.svg {
    width: 60px;
    height: 70px;
}

.cityName {
    font-size: 1.5em;
    color: white;
    margin-left: 20px;
}

.nav a {
    margin-left: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.466);
}

.nav a:hover {
    text-decoration: underline;
}
